.card {
  margin-bottom: 1.5rem;
}

#equipos-table td:last-child {
  width: 120px;
}

.flex {
  display: flex;
}

.gap-1 {
  gap: .35rem;
}

.btn-sm {
  padding: .3rem .6rem;
  font-size: .7rem;
  border-radius: .45rem;
}
